<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="../css/bootstrap-vue.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <b-container>
      <b-row class="vh-100" align-v="center" align-h="center">
        <b-col style="max-width: 600px;">
          <b-card no-body header="네트워크">
            <b-card-text>
              <b-list-group flush v-for="(network, i) in networks" :key="i">
                <b-list-group-item button @click="onClickItem(i)" v-show="!network.hidden">
                  <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{ network.ssid }}</h5>
                    <b-icon icon="lock-fill" v-show="network.secure != 7"/>
                    <div v-if="network.rssi <= -30 && network.rssi >= -80">
                      <b-icon icon="wifi" />
                    </div>
                    <div v-else-if="network.rssi <= -80 && network.rssi >= -90">
                      <b-icon icon="wifi2" />
                    </div>
                    <div v-else>
                      <b-icon icon="wifi1" />
                    </div>
                  </div>
                </b-list-group-item>  
              </b-list-group>
            </b-card-text>
          </b-card>
          <b-modal id="modal" v-model="modal" centered="true" :title="title + '의 비밀번호 입력'" @ok="handleOk" @cancel="reset" @hidden="reset">
            <b-form ref="form" @submit.stop.prevent="onSubmit">
              <b-form-group label="비밀번호" label-for="intput-password" invalid-feedback="비밀번호를 입력해주세요." :state="passwordState">
                <b-form-input type="password" id="intput-password" v-model="password" :state="passwordState" required>
              </b-form-group>
            </b-form>
            <template #modal-footer="{ ok, cancel }">
              <b-button variant="primary" @click="ok()">연결</b-button>
              <b-button @click="cancel()">취소</b-button>
            </template>
          </b-modal>
        </b-col>
      </b-row>
    </b-container>
  </div>

  <script type="text/javascript" src="../script/vue.min.js"></script>
  <script type="text/javascript" src="../script/bootstrap-vue.min.js"></script>
  <script type="text/javascript" src="../script/bootstrap-vue-icons.min.js"></script>
  <script type="text/javascript" src="../script/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',

      created () {
        this.onScan()
        this.onScan()
        this.polling = setInterval(() => {
          this.onScan()
        }, 5000)
      },

      beforeDestroy () {
        clearInterval(this.polling)
      },

      data: () => ({
        polling: null,
        modal: false,
        title: '',
        selectedNetwork: null,
        ssid: '',
        password: '',
        passwordState: null,
        networks: []
      }),

      methods: {
        onSubmit () {
          if (!this.checkFormValidity()) {
            return
          }

          axios.post('/connect', {
            ssid: this.ssid,
            password: this.password
          })
            .then(res=> {

            })
            .catch(err => {

            })

          this.$nextTick(() => {
            this.$bvModal.hide('modal')
          })
        },

        onScan () {
          axios.get('/scan')
            .then(res => {
              this.networks = res.data
            })
            .catch(err => {
              console.log(err)
            })
        },

        onClickItem (i) {
          if (!this.modal) {
            this.selectedNetwork = i
            this.title = this.networks[i].ssid
            this.ssid = this.networks[i].ssid
            this.modal = !this.modal
          }
        },

        checkFormValidity () {
          const valid = this.$refs.form.checkValidity()
          this.passwordState = valid
          return valid
        },

        handleOk (e) {
          e.preventDefault()
          this.onSubmit()
        },

        reset () {
          this.password = ''
          this.passwordState = null
        }
      }
    })
  </script>
</body>
</html>