<!DOCTYPE html>
<html>
  <head>
    <title>Sweethome Server</title>
  </head>
  <body>
    Sweethome Server
    <br />
    Your IP is <%=ip %>
    <hr />
    <div>인증코드</div>
    <div class="code-area"></div>
    <script type="module" src="/javascript/main.js"></script>
  </body>
</html>
