<!DOCTYPE html>
<html>
  <head>
    <title>Sweethome Server</title>
  </head>
  <body>
    Sweethome Server
    <br />
    Your IP is <%=ip %>
    <hr />
    Auto code is <%= code %>
  </body>
</html>
