<!DOCTYPE html>
<html>
  <head>
    <title>Sweethome Server</title>
  </head>
  <body>
    Sweethome Server
    <br />
    Your IP is <%=ip %>
    <hr />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on('code', function (code) {
        alert(code);
      });
    </script>
  </body>
</html>
