<!DOCTYPE html>
<html>
  <head>
    <title>Sweethome Server</title>
  </head>
  <body>
    Sweethome Server
    <br />
    Your IP is <%=ip %>
    <hr />
    <script type="module" src="/javascript/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
